{% extends 'recipient/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-9">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                </div>
                <div class="card-body">
                    <h5>{{ object.content }}</h5>
                    {% for item in object.recipients.all %}
                    <p>{{ item }}</p>
                    {% endfor %}
                    {% if user == object.owner or user.is_superuser or perms.mailing.change_mailingsettings_setting_status %}
                    <a class="btn btn-primary" href="{% url 'mailing:settings_edit' object.pk %}"
                       role="button">Изменить</a>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url 'mailing:settings_list' %}" role="button">Назад</a>
                    {% if user == object.owner or user.is_superuser %}
                    <a class="btn btn-primary" href="{% url 'mailing:settings_delete' object.pk %}" role="button">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}