{% extends 'recipient/base.html' %}
{% block content %}
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }} ({{ object.email }})</h4>
                </div>
                <div class="card-body">
                    <div class="card-footer text-centr">
                        Комментарии: {{ object.description }}
                    </div>
                </div>
                {% if user == object.owner or user.is_superuser %}
                <a href="{% url 'recipient:edit' object.pk %}" class="btn btn-warning">Изменить</a>
                <a href="{% url 'recipient:delete' object.pk %}" class="btn btn-danger">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
